---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout
  title="Resume"
  sideBarActiveItemID="cv"
>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Profile
    </div>
  </div>

  <div class="mb-10 text-justify">
    I am working as a developer in a Receivables
    Management Company by day and create web
    applications in my free time to wind down and
    study what's new in the technologies.
    Persevering when it's difficult
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Education
    </div>
  </div>

  <div
    class="time-line-container grid gap-4 mb-10"
  >
    <TimeLineElement
      title="Apprenticeship in application development"
      subtitle="2020 to 2021 at Carl-Severing Berufskolleg, Bielefeld, Germany"
    />
    <TimeLineElement
      title="BsC in Bioinformatics and Genome Research"
      subtitle="2013 to 2020 at University Bielefeld, Bielefeld, Germany"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Experience
    </div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Developer for Receivables Management"
      subtitle="From 06/2023 to today at Prodefacto Forderungsmanagement GmbH, Bielefeld, Germany"
    >
      <ul>
        <li>
          Developed and deployed Libraries in C#
          to extend functionality of Enterprise
          Software
        </li>
        <li>
          Worked on streamlining templates for
          process management
        </li>
        <li>
          Took initiative on an internal project's
          Frontend with Angular
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Delivery personal"
      subtitle="From 12/2021 to 05/2023 at TakeAway, Bielefeld, Germany"
    >
      <ul>
        <li>
          Delivery of food in time with high
          satisfaction
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Apprentice for application development"
      subtitle="From 2020 to 2021 at MarcanT AG, Bielefeld, Germany"
    >
      <ul>
        <li></li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Certifications
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">
        Certification Name (with link)</a
      >
    </li>
    <li>
      <a href="#" target="_blank">
        Certification Name (with link)</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">
      Skills
    </div>
  </div>

  <ul
    class="list-disc md:columns-5 columns-2 mx-6"
  >
    <li>C#</li>
    <li>Angular</li>
    <li>React</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>CSS</li>
    <li>TailwindCSS</li>
    <li>MySQL</li>
    <li>SQLite</li>
    <!-- <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li> -->
  </ul>
</BaseLayout>
